
.atom-selector {
  position: absolute;
  pointer-events: all;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  
  background-color: #2c2a31;
  box-shadow: 10px 10px 8px 10px #888888;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.atom-selector-shift {
  bottom: 200px !important; 
}

.atom-selection-button {
  width: 100px;
  height: 100px;
  font-size: 50px !important;
  margin: 0px 10px !important;
}

canvas {
  width: 100%;
  height: 100%
}

.fillscreen {
  pointer-events: none;
  z-index: -99;
  transition: right 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: right 0.5s;
}

.sidebar-shift {
  right: 500px;
}

.sidebar {
  pointer-events: all;
  position: absolute;
  transition: right 0.5s;
  width: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: ghostwhite;
  text-align: center;
  padding-left: 5px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 8px 10px #888888;
}

.editor {
  pointer-events: all;
  position: absolute;
  display: flex;

  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;

  right: 0;
  bottom: 0;
  width: 200px;
  height: 100px;
}
.editor-button {
  width: 45px;
  height: 45px;
  margin:5px;
  align-items: center;
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.editor-button > img {
   width: 40px;
   align-items: center;
   height: 40px;
}

.editor-container {
  transition: margin-inline 0.5s;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin-inline: auto;
  max-width: 500px;
}

.atom-scroll {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:300px
}

.atom-scroll-safebox {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin-inline: auto;
  max-width: 500px;
}

/* Button template */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 3px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4-clicked-haha {
  background-color: #EDEFF2;
  box-shadow: rgba(118, 120, 122, 0.6) 0 px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}